/*Asterisk wildcard selector to overide default styles  added by the browsers*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Header*/
header {
  background-color: lightcoral;
}
/*Main Content*/
main {
  background-color: lightblue;
}
/*Footer*/
footer {
  background-color: orange;
}
